body{
    text-align: center;
}
.color{
    background-color: #CDE8E5;
    background-size: 180% 180%;
    border-top: 10px solid #4D869C;
}
h1{ 
    color: #4D869C !important;
    font-family: "Satisfy", cursive;
    font-weight: 800;
    
      
}
.programmer{
    color: #4D869C;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 10px;
    font-size: 25px;

}
.cloud1{
    
    margin-bottom: 30px;
    margin-left: 350px;
}
.cloud2{
    
    height: 40px;
    margin-bottom: 40px;
    margin-right: 250px;
}
.image{
    border-radius: 50%;
    height: 200px;
    align-items: center;
}
.intro{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myskills{
    color: #4D869C;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;

}

.small{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    

}
.list1{
    color: #40514e;
    grid-area: 1/2/1/3;
    text-align: left;
    font-size: 20px;
    font-family: "Merriweather", serif;
}
.hardskill{
    color: #4D869C;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

.boxx{
    grid-area: 2/1/2/2;

}
.softskill{
    
    color: #4D869C;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}
.list2{
    color: #40514e;
    grid-area: 2/2/2/3;
    text-align: left;
    font-size: 20px;
    font-family: "Merriweather", serif;
}
.image2{
    border-radius: 50px;
    height: 100px;
    margin-top: 2px;
}
.prev{
    color: #4D869C;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 50px;
}
.web1{
    color: #40514e;
    font-family: "Merriweather", serif;
    font-size: 20px;
    text-align: center;
}
hr{
    border: dotted #98c4c0 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
#footer{
    background-color: #CDE8E5;
    border-bottom: 10px solid #4D869C;

}
.footert{
    font-family: "Montserrat", sans-serif;
    color: #4D869C;
}
.web2{
    color: #40514e;
    font-family: "Merriweather", serif;
    font-size: 20px;

}


